<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<style>
	.table-preguntas{
		margin: 0;
		padding: 0;
	}
	.table-preguntas a{
		text-decoration: underline; 
		cursor: pointer
	}
	.table-preguntas td{
		padding: 5px;	
	}
	.table-preguntas td.link{
		text-aling: center	
	}

</style>
<div style="width: 70%; margin-left: 15%; padding: 0;">
	<h1>Preguntas Recientes</h1>
	<div class="row">
		<table class="table table-striped table-preguntas col-10" border="1">
			<thead class="thead-dark">
			     <th>Numero</th> 
			     <th>Nombre</th> 
			     <th>Pregunta</th> 
			     <th>Responder</th> 
			</thead>
			<tbody>
			 <tr th:each ="pregunta :${preguntas}"> 
			     <td th:text="${pregunta.numero}"></td> 
			     <td th:text="${pregunta.NombreCompleto}"></td>
			     <td th:text="${pregunta.Pregunta}"></td>
			     <form th:action="@{/preguntaView/} + ${pregunta.numero}">
			     <td class="link">
			        <a>
						<input type ="submit" value ="Responder -> ">
			        </a>
			     </td>
			     </form>
			</tr> 
			</tbody>
		</table>
	</div>
	<form action ="/" method="GET">
	<input type ="submit" value ="Volver">
	</form>
	
	
</div>	    
	
	
	
</body>

<script>
	
</script>
</html>