<html>

<body>
<h1>Preguntas Recientes</h1>
<table border="1">
<tr>
     <th>Numero</th> 
     <th>Nombre</th> 
     <th>Pregunta</th> 
     <th>Responder</th> 
</tr>
 <tr th:each ="pregunta :${preguntas}"> 
     <td th:text="${pregunta.numero}"></td> 
     <td th:text="${pregunta.NombreCompleto}"></td>
     <td th:text="${pregunta.Pregunta}"></td>
     <td>
            <input type="text" name="company" form="my_form" size=50  height=3 />
            <button type="button" form="my_form">Confirmar</button>
     </td>
     
</tr> 
       

</table>

    


<form action ="/" method="GET">
<input type ="submit" value ="Volver">
</form>
</body>
</html>