<html>
<h1>Historial de Preguntas</h1>
<body>
<table border="1">
<tr>
     <th>Numero</th> 
     <th>Nombre</th> 
     <th>Pregunta</th> 
     <th>Respuesta</th>
</tr>
 <tr th:each ="respuesta :${respuestas}">
  
     <td th:text="${respuesta.numero}"></td>
     <td th:text="${respuesta.NombreCompleto}"></td>
     <td th:text="${respuesta.Pregunta}"></td>
     <td th:text="${respuesta.Respuesta}"></td>
</tr> 
</table>
</form>

<form action ="/" method="GET">
<input type ="submit" value ="Volver">
</form>
</body>
</html>